<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title> CELOL | Regulamento</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/icon/fav.png">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="assets/css/slicknav.css">
    <link rel="stylesheet" href="assets/css/flaticon.css">
    <link rel="stylesheet" href="assets/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="assets/css/gijgo.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/animated-headline.css">
    <link rel="stylesheet" href="assets/css/magnific-popup.css">
    <link rel="stylesheet" href="assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/css/themify-icons.css">
    <link rel="stylesheet" href="assets/css/slick.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/style.css">
</head>
<body>
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="assets/img/logo/loder.png" alt="">
                </div>
            </div>
        </div>
    </div>
    <%- include('./header') %>
    <main>
        <section class="slider-area slider-area2">
            <div class="slider-active">
                <div class="single-slider slider-height2">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-xl-8 col-lg-11 col-md-12">
                                <div class="hero__caption hero__caption2 text-center">
                                    <h1 data-animation="bounceIn" data-delay="0.2s">Regulamento</h1>
                                </div>
                            </div>
                        </div>
                    </div>          
                </div>
            </div>
        </section>
        <div class="faq-section section-padding40" >
            <div class="container">

                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-tittle">
                            <h2>Artigos</h2>
                        </div>
                        <div class="collapse-wrapper">
                            <div class="accordion" id="accordionExample">
                                <div class='card'>
                                    <div class='card-header' id='heading1'>
                                        <h2 class='mb-0'>
                                            <a href='#' class='btn-link collapsed'  data-toggle='collapse' data-target='#collapse1' aria-expanded='false' aria-controls='collapse1'>Artigo 1</a>
                                        </h2>
                                    </div>
                                    <div id='collapse1' class='collapse' aria-labelledby='heading1' data-parent='#accordionExample'>
                                        <div class='card-body'>
                                            No momento da inscrição no Torneio, os envolvidos devem ler e concordar com as regras e termos do presente torneio e regimento devendo o capitão assinar documento que confirme tal ato.
                                        </div>
                                    </div>
                                </div>
                                <div class='card'>
                                    <div class='card-header' id='heading2'>
                                        <h2 class='mb-0'>
                                            <a href='#' class='btn-link collapsed'  data-toggle='collapse' data-target='#collapse2' aria-expanded='false' aria-controls='collapse2'>Artigo 2</a>
                                        </h2>
                                    </div>
                                    <div id='collapse2' class='collapse' aria-labelledby='heading2' data-parent='#accordionExample'>
                                        <div class='card-body'>
                                            Para todos os efeitos, o Capitão de cada equipe se torna responsável pelo comportamento de toda a sua equipe, e deverá ser o responsável pela comunicação entre a organização e a equipe.
                                        </div>
                                    </div>
                                </div>
                                <div class='card'>
                                    <div class='card-header' id='heading3'>
                                        <h2 class='mb-0'>
                                            <a href='#' class='btn-link collapsed'  data-toggle='collapse' data-target='#collapse3' aria-expanded='false' aria-controls='collapse3'>Artigo 3</a>
                                        </h2>
                                    </div>
                                    <div id='collapse3' class='collapse' aria-labelledby='heading3' data-parent='#accordionExample'>
                                        <div class='card-body'>
                                            É de responsabilidade da equipe estar presente durante a realização do torneio, sua ausência acarretará desclassificação.
                                        </div>
                                    </div>
                                </div>
                                <div class='card'>
                                    <div class='card-header' id='heading4'>
                                        <h2 class='mb-0'>
                                            <a href='#' class='btn-link collapsed'  data-toggle='collapse' data-target='#collapse4' aria-expanded='false' aria-controls='collapse4'>Artigo 4</a>
                                        </h2>
                                    </div>
                                    <div id='collapse4' class='collapse' aria-labelledby='heading4' data-parent='#accordionExample'>
                                        <div class='card-body'>
                                            Todos os jogadores devem estar inscritos no formulário oficial a ser disponibilizado, com seu nome completo, turma e nickname em jogo.
                                        </div>
                                    </div>
                                </div>
                                <div class='card'>
                                    <div class='card-header' id='heading5'>
                                        <h2 class='mb-0'>
                                            <a href='#' class='btn-link collapsed'  data-toggle='collapse' data-target='#collapse5' aria-expanded='false' aria-controls='collapse5'>Artigo 5</a>
                                        </h2>
                                    </div>
                                    <div id='collapse5' class='collapse' aria-labelledby='heading5' data-parent='#accordionExample'>
                                        <div class='card-body'>
                                            As equipes serão compostas de 5 (cinco) integrantes e, caso queiram, reserva. Os reservas não precisarão pagar a inscrição mas não ganhará prêmios caso a equipe saia vitoriosa (limite de 2 reservas).
                                        </div>
                                    </div>
                                </div>
                                <div class='card'>
                                    <div class='card-header' id='heading6'>
                                        <h2 class='mb-0'>
                                            <a href='#' class='btn-link collapsed'  data-toggle='collapse' data-target='#collapse6' aria-expanded='false' aria-controls='collapse6'>Artigo 6</a>
                                        </h2>
                                    </div>
                                    <div id='collapse6' class='collapse' aria-labelledby='heading6' data-parent='#accordionExample'>
                                        <div class='card-body'>
                                            Os cinco jogadores devem estar online na hora marcada.
                                        </div>
                                    </div>
                                </div>
                                <div class='card'>
                                    <div class='card-header' id='heading7'>
                                        <h2 class='mb-0'>
                                            <a href='#' class='btn-link collapsed'  data-toggle='collapse' data-target='#collapse7' aria-expanded='false' aria-controls='collapse7'>Artigo 7</a>
                                        </h2>
                                    </div>
                                    <div id='collapse7' class='collapse' aria-labelledby='heading7' data-parent='#accordionExample'>
                                        <div class='card-body'>
                                            As regras podem sofrer alterações a qualquer momento, sem a necessidade de aviso prévio
                                        </div>
                                    </div>
                                </div>
                                <div class='card'>
                                    <div class='card-header' id='heading8'>
                                        <h2 class='mb-0'>
                                            <a href='#' class='btn-link collapsed'  data-toggle='collapse' data-target='#collapse8' aria-expanded='false' aria-controls='collapse8'>Artigo 8</a>
                                        </h2>
                                    </div>
                                    <div id='collapse8' class='collapse' aria-labelledby='heading8' data-parent='#accordionExample'>
                                        <div class='card-body'>
                                            Os horários e datas dos jogos serão disponibilizados após o período de inscrições e previamente ao acontecimento das partidas.
                                        </div>
                                    </div>
                                </div>
                                <div class='card'>
                                    <div class='card-header' id='heading9'>
                                        <h2 class='mb-0'>
                                            <a href='#' class='btn-link collapsed'  data-toggle='collapse' data-target='#collapse9' aria-expanded='false' aria-controls='collapse9'>Artigo 9</a>
                                        </h2>
                                    </div>
                                    <div id='collapse9' class='collapse' aria-labelledby='heading9' data-parent='#accordionExample'>
                                        <div class='card-body'>
                                            A equipe dispõe de 10 minutos de tolerância para se organizar e estar com os 5 jogadores no lobby de partida. Caso contrário, sofrerá W.O.
                                        </div>
                                    </div>
                                </div>
                                <div class='card'>
                                    <div class='card-header' id='heading10'>
                                        <h2 class='mb-0'>
                                            <a href='#' class='btn-link collapsed'  data-toggle='collapse' data-target='#collapse10' aria-expanded='false' aria-controls='collapse10'>Artigo 10</a>
                                        </h2>
                                    </div>
                                    <div id='collapse10' class='collapse' aria-labelledby='heading10' data-parent='#accordionExample'>
                                        <div class='card-body'>
                                            As equipes não dispõem de pause técnico.
                                        </div>
                                    </div>
                                </div>
                                <div class='card'>
                                    <div class='card-header' id='heading11'>
                                        <h2 class='mb-0'>
                                            <a href='#' class='btn-link collapsed'  data-toggle='collapse' data-target='#collapse11' aria-expanded='false' aria-controls='collapse11'>Artigo 11</a>
                                        </h2>
                                    </div>
                                    <div id='collapse11' class='collapse' aria-labelledby='heading11' data-parent='#accordionExample'>
                                        <div class='card-body'>
                                            Os jogadores devem apresentar conduta exemplar, prezando o espírito esportivo na decorrência do torneio.
                                        </div>
                                    </div>
                                </div>
                                <div class='card'>
                                    <div class='card-header' id='heading12'>
                                        <h2 class='mb-0'>
                                            <a href='#' class='btn-link collapsed'  data-toggle='collapse' data-target='#collapse12' aria-expanded='false' aria-controls='collapse12'>Artigo 12</a>
                                        </h2>
                                    </div>
                                    <div id='collapse12' class='collapse' aria-labelledby='heading12' data-parent='#accordionExample'>
                                        <div class='card-body'>
                                            Estão proibidas qualquer tipo de ofensas para com os outros competidores, organização e espectadores, passível de punição e desclassificação.
                                        </div>
                                    </div>
                                </div>
                                <div class='card'>
                                    <div class='card-header' id='heading13'>
                                        <h2 class='mb-0'>
                                            <a href='#' class='btn-link collapsed'  data-toggle='collapse' data-target='#collapse13' aria-expanded='false' aria-controls='collapse13'>Artigo 13</a>
                                        </h2>
                                    </div>
                                    <div id='collapse13' class='collapse' aria-labelledby='heading13' data-parent='#accordionExample'>
                                        <div class='card-body'>
                                            É vedado aos jogadores utilizarem qualquer aplicativo que disponibilizem vantagens ilegais acima dos outros jogadores, tais como scripts ou outros tipos de meios ilícitos. Passível de desclassificação
                                        </div>
                                    </div>
                                </div>
                                <div class='card'>
                                    <div class='card-header' id='heading14'>
                                        <h2 class='mb-0'>
                                            <a href='#' class='btn-link collapsed'  data-toggle='collapse' data-target='#collapse14' aria-expanded='false' aria-controls='collapse14'>Artigo 14</a>
                                        </h2>
                                    </div>
                                    <div id='collapse14' class='collapse' aria-labelledby='heading14' data-parent='#accordionExample'>
                                        <div class='card-body'>
                                            O torneio é eliminatório md1 até sua fase de semifinal, quando este passa a ser md3.
                                        </div>
                                    </div>
                                </div>
                                <div class='card'>
                                    <div class='card-header' id='heading15'>
                                        <h2 class='mb-0'>
                                            <a href='#' class='btn-link collapsed'  data-toggle='collapse' data-target='#collapse15' aria-expanded='false' aria-controls='collapse15'>Artigo 15</a>
                                        </h2>
                                    </div>
                                    <div id='collapse15' class='collapse' aria-labelledby='heading15' data-parent='#accordionExample'>
                                        <div class='card-body'>
                                            Não haverá repescagem e a disputa pelo terceiro lugar será entre os times perdedores das disputas das semifinais.
                                        </div>
                                    </div>
                                </div>
                                <div class='card'>
                                    <div class='card-header' id='heading16'>
                                        <h2 class='mb-0'>
                                            <a href='#' class='btn-link collapsed'  data-toggle='collapse' data-target='#collapse16' aria-expanded='false' aria-controls='collapse16'>Artigo 16</a>
                                        </h2>
                                    </div>
                                    <div id='collapse16' class='collapse' aria-labelledby='heading16' data-parent='#accordionExample'>
                                        <div class='card-body'>
                                            As partidas seguirão o modelo competitivo disponibilizado pela Riot Games.
                                        </div>
                                    </div>
                                </div>
                                <div class='card'>
                                    <div class='card-header' id='heading17'>
                                        <h2 class='mb-0'>
                                            <a href='#' class='btn-link collapsed'  data-toggle='collapse' data-target='#collapse17' aria-expanded='false' aria-controls='collapse17'>Artigo 17</a>
                                        </h2>
                                    </div>
                                    <div id='collapse17' class='collapse' aria-labelledby='heading17' data-parent='#accordionExample'>
                                        <div class='card-body'>
                                            Não há restrição de nível ou elo para disputar o torneio, sendo necessário apenas ter 16 campeões adquiridos.
                                        </div>
                                    </div>
                                </div>
                                <div class='card'>
                                    <div class='card-header' id='heading18'>
                                        <h2 class='mb-0'>
                                            <a href='#' class='btn-link collapsed'  data-toggle='collapse' data-target='#collapse18' aria-expanded='false' aria-controls='collapse18'>Artigo 18</a>
                                        </h2>
                                    </div>
                                    <div id='collapse18' class='collapse' aria-labelledby='heading18' data-parent='#accordionExample'>
                                        <div class='card-body'>
                                            As partidas serão disputadas no mapa Summoner’s Rift, no modo Alternada Torneio, de acordo com a tabela de jogos. 
                                        </div>
                                    </div>
                                </div>
                                <div class='card'>
                                    <div class='card-header' id='heading19'>
                                        <h2 class='mb-0'>
                                            <a href='#' class='btn-link collapsed'  data-toggle='collapse' data-target='#collapse19' aria-expanded='false' aria-controls='collapse19'>Artigo 19</a>
                                        </h2>
                                    </div>
                                    <div id='collapse19' class='collapse' aria-labelledby='heading19' data-parent='#accordionExample'>
                                        <div class='card-body'>
                                            Em caso de desconexão durante a seleção de campeões, os jogadores deverão reiniciar repetindo os mesmos picks e bans, na mesma ordem. Caso ocorra novamente, o caso será analisado e passível de desclassificação.
                                        </div>
                                    </div>
                                </div>
                                <div class='card'>
                                    <div class='card-header' id='heading20'>
                                        <h2 class='mb-0'>
                                            <a href='#' class='btn-link collapsed'  data-toggle='collapse' data-target='#collapse20' aria-expanded='false' aria-controls='collapse20'>Artigo 20</a>
                                        </h2>
                                    </div>
                                    <div id='collapse20' class='collapse' aria-labelledby='heading20' data-parent='#accordionExample'>
                                        <div class='card-body'>
                                            A troca de campeões entre aliados está permitida, como forma de estratégia.
                                        </div>
                                    </div>
                                </div>
                                <div class='card'>
                                    <div class='card-header' id='heading21'>
                                        <h2 class='mb-0'>
                                            <a href='#' class='btn-link collapsed'  data-toggle='collapse' data-target='#collapse21' aria-expanded='false' aria-controls='collapse21'>Artigo 21</a>
                                        </h2>
                                    </div>
                                    <div id='collapse21' class='collapse' aria-labelledby='heading21' data-parent='#accordionExample'>
                                        <div class='card-body'>
                                            O preço da inscrição é de 6 reais por titular.
                                        </div>
                                    </div>
                                </div>
                                <div class='card'>
                                    <div class='card-header' id='heading22'>
                                        <h2 class='mb-0'>
                                            <a href='#' class='btn-link collapsed'  data-toggle='collapse' data-target='#collapse22' aria-expanded='false' aria-controls='collapse22'>Artigo 22</a>
                                        </h2>
                                    </div>
                                    <div id='collapse22' class='collapse' aria-labelledby='heading22' data-parent='#accordionExample'>
                                        <div class='card-body'>
                                            A quantidade de jogadores titulares deve ser exatamente 5. A quantidade de reservas pode ser no máximo 2.
                                        </div>
                                    </div>
                                </div>
                                <div class='card'>
                                    <div class='card-header' id='heading23'>
                                        <h2 class='mb-0'>
                                            <a href='#' class='btn-link collapsed'  data-toggle='collapse' data-target='#collapse23' aria-expanded='false' aria-controls='collapse23'>Artigo 23</a>
                                        </h2>
                                    </div>
                                    <div id='collapse23' class='collapse' aria-labelledby='heading23' data-parent='#accordionExample'>
                                        <div class='card-body'>
                                            O pagamento das inscrições será realizado dos dias 01/10 até 13/10.
                                        </div>
                                    </div>
                                </div>
                                <div class='card'>
                                    <div class='card-header' id='heading24'>
                                        <h2 class='mb-0'>
                                            <a href='#' class='btn-link collapsed'  data-toggle='collapse' data-target='#collapse24' aria-expanded='false' aria-controls='collapse24'>Artigo 24</a>
                                        </h2>
                                    </div>
                                    <div id='collapse24' class='collapse' aria-labelledby='heading24' data-parent='#accordionExample'>
                                        <div class='card-body'>
                                            No dia 13/10 os organizadores sairão de sala em sala para receber daquelas equipes que já possuem o dinheiro em mãos.
                                        </div>
                                    </div>
                                </div>
                                <div class='card'>
                                    <div class='card-header' id='heading25'>
                                        <h2 class='mb-0'>
                                            <a href='#' class='btn-link collapsed'  data-toggle='collapse' data-target='#collapse25' aria-expanded='false' aria-controls='collapse25'>Artigo 25</a>
                                        </h2>
                                    </div>
                                    <div id='collapse25' class='collapse' aria-labelledby='heading25' data-parent='#accordionExample'>
                                        <div class='card-body'>
                                            Caso a equipe opte por pagar antes ou depois do dia 13/10 (durante o recolhimento), o capitão da mesma deverá se dirigir a sala do 3CI e lá realizar o pagamento presencialmente.
                                        </div>
                                    </div>
                                </div>
                                <div class='card'>
                                    <div class='card-header' id='heading26'>
                                        <h2 class='mb-0'>
                                            <a href='#' class='btn-link collapsed'  data-toggle='collapse' data-target='#collapse26' aria-expanded='false' aria-controls='collapse26'>Artigo 26</a>
                                        </h2>
                                    </div>
                                    <div id='collapse26' class='collapse' aria-labelledby='heading26' data-parent='#accordionExample'>
                                        <div class='card-body'>
                                            A premiação será oferecida aos cinco jogadores titulares inscritos no torneio, e não será concedido acional, extra, ou bônus de qualquer natureza.
                                        </div>
                                    </div>
                                </div>
                                <div class='card'>
                                    <div class='card-header' id='heading27'>
                                        <h2 class='mb-0'>
                                            <a href='#' class='btn-link collapsed'  data-toggle='collapse' data-target='#collapse27' aria-expanded='false' aria-controls='collapse27'>Artigo 27</a>
                                        </h2>
                                    </div>
                                    <div id='collapse27' class='collapse' aria-labelledby='heading27' data-parent='#accordionExample'>
                                        <div class='card-body'>
                                            A premiação será dividida da seguinte maneira: <br/>I - 1º Lugar – Skin de 1350 RP para cada integrante titular da equipe<br/>II- 2º Lugar – Baú do Artesão com chave para cada integrante titular da equipe<br/>III - 3º Lugar – Baú normal sem chave para cada integrante da equipe 
                                        </div>
                                    </div>
                                </div>
                                <div class='card'>
                                    <div class='card-header' id='heading28'>
                                        <h2 class='mb-0'>
                                            <a href='#' class='btn-link collapsed'  data-toggle='collapse' data-target='#collapse28' aria-expanded='false' aria-controls='collapse28'>Artigo 28</a>
                                        </h2>
                                    </div>
                                    <div id='collapse28' class='collapse' aria-labelledby='heading28' data-parent='#accordionExample'>
                                        <div class='card-body'>
                                            O termo assinado pelo capitão de cada equipe implica na anuência de todas as regras, sendo esta anuência requisito para a participação do evento.
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <section class="wantToWork-area " >
            <div class="container">
                <div class="wants-wrapper w-padding2 section-bg2" data-background="assets/img/gallery/section_bg02.png">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-xl-7 col-lg-9 col-md-8">
                            <div class="wantToWork-caption text-center">
                                <h2>As inscrições para o CELOL 2020 foram abertas</h2>
                                <p>Olá invocador, as inscrições estão abertas para o Campeonato Estudantil de League of Legends.</p>
                                <a href="https://forms.gle/k1GDjsiyEfNeWcJA6" class="btn3 wantToWork-btn">Eu quero!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <%- include('./footer') %>


  <div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>


<script src="./assets/js/vendor/modernizr-3.5.0.min.js"></script>
<script src="./assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="./assets/js/popper.min.js"></script>
<script src="./assets/js/bootstrap.min.js"></script>
<script src="./assets/js/jquery.slicknav.min.js"></script>
<script src="./assets/js/owl.carousel.min.js"></script>
<script src="./assets/js/slick.min.js"></script>
<script src="./assets/js/wow.min.js"></script>
<script src="./assets/js/animated.headline.js"></script>
<script src="./assets/js/jquery.magnific-popup.js"></script>
<script src="./assets/js/gijgo.min.js"></script>
<script src="./assets/js/jquery.nice-select.min.js"></script>
<script src="./assets/js/jquery.sticky.js"></script>
<script src="./assets/js/jquery.barfiller.js"></script>
<script src="./assets/js/jquery.counterup.min.js"></script>
<script src="./assets/js/waypoints.min.js"></script>
<script src="./assets/js/jquery.countdown.min.js"></script>
<script src="./assets/js/hover-direction-snake.min.js"></script>
<script src="./assets/js/contact.js"></script>
<script src="./assets/js/jquery.form.js"></script>
<script src="./assets/js/jquery.validate.min.js"></script>
<script src="./assets/js/mail-script.js"></script>
<script src="./assets/js/jquery.ajaxchimp.min.js"></script>	
<script src="./assets/js/plugins.js"></script>
<script src="./assets/js/main.js"></script>

</body>
</html>